*.class

#package file
*.war
*.ear

#kidff3 ignore
*.orig

#mavne ignore
target/

#eclipse ignore
.settings
.projetc
.classpath

#idea
.idea/
/idea/
*.ipr
*.inl
*.iws

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db